.teams-single {
  position: relative;
  padding: 100px 0;

  @include media(tablet, max) {
    padding: 50px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 100%;
    background-color: $bg-color;
    @include media(tablet-wide, max) {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }

  &__info {
    width: 50%;
    padding-right: 75px;
    @include media(tablet-wide, max) {
      width: 100%;
      padding-right: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
  }

  &__info-content {
    // padding-left: 30px;
    @include media(tablet-wide, max) {
      padding-left: 30px;
      width: 50%;
    }
    @include media(tablet, max) {
      padding-left: 15px;
      width: 60%;
    }
    @include media(phablet, max) {
      width: 100%;
      padding-left: 0;
    }

    .social {
      margin: 20px 0;
    }
  }

  &__description {
    width: 50%;
    padding-left: 30px;
    @include media(tablet-wide, max) {
      width: 100%;
      padding-left: 0;
    }

    p {
      font-size: 20px;
      line-height: 1.3;
      color: $text-gray-color;
      margin-bottom: 20px;

      @include media(phablet, max) {
        font-size: 14px;
      }
    }
  }

  &__img {
    margin-bottom: 60px;
    img {
      display: block;
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }

    @include media(tablet-wide, max) {
      width: 50%;
    }

    @include media(tablet, max) {
      width: 40%;
    }
    @include media(phablet, max) {
      width: 100%;
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    font-weight: bold;
    display: block;
    margin-bottom: 70px;

    @include media(tablet, max) {
      margin-bottom: 30px;
    }
    @include media(phablet, max) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;

    &--block {
      display: block;
      margin-bottom: 20px;

      @include media(phablet, max) {
        margin-bottom: 10px;
      }

      svg {
        margin-right: 15px;

        @include media(phablet, max) {
          width: 15px;
          height: 15px;
        }
      }
    }

    @include media(phablet, max) {
      font-size: 14px;
    }
  }

  &__position {
    display: block;
    color: $accent-color;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    @include media(tablet-wide, max) {
      margin: 10px 0;
      font-size: 18px;
    }
    @include media(phablet, max) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;
    color: #000;
    font-family: 'Argos';
    font-weight: bold;
    margin-bottom: 10px;

    @include media(tablet-wide, max) {
      font-size: 40px;
    }
    @include media(tablet, max) {
      font-size: 30px;
    }
    @include media(phablet, max) {
      font-size: 22px;
    }
  }
}

.team-single {
  .section-teams {
    background-color: rgba(197, 197, 197, 0.09);
  }
}
