.teams-staff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px 30px;

  @include media(tablet-wide, max) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(phablet, max) {
    grid-template-columns: 1fr;
    grid-gap: 50px 30px;
  }

  &__link {
    display: block;
    position: relative;

    &:hover {
      .teams-staff__descr {
        opacity: 1;
        visibility: visible;
      }
      .teams-staff__content {
        transform: translateY(-20px);
      }
      .teams-staff__img img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    font-size: 22px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;

    @include media(tablet, max) {
      font-size: 18px;
    }
  }

  &__tag {
    font-size: 13px;
    line-height: 1.3;
    color: $text-gray-color;
  }

  &__img {
    position: relative;
    padding-bottom: 77%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $trs;
    }
  }

  &__content {
    position: absolute;
    z-index: 3;
    bottom: -30px;
    right: 0;
    width: 88%;
    background-color: #fff;
    padding: 15px 25px;
    transition: $trs;
  }

  &__descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    background-color: $accent-color;
    opacity: 0;
    visibility: hidden;
    transition: $trs;
    padding: 35px 40px;
    font-size: 20px;
    line-height: 1.3;
    span {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include media(tablet, max) {
      font-size: 16px;
    }
  }
}
