.teams-ambassadors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  @include media(tablet-wide, max) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media(tablet, max) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(phablet, max) {
    grid-template-columns: 1fr;
  }

  &__item {
    padding: 15px;
    background-color: #fff;
    transition: $trs;

    &:hover {
      box-shadow: 5px 5px 10px #dbd6d6;

      .teams-ambassadors__title a {
        color: $accent-color;
      }
      .teams-ambassadors__img img {
        transform: scale(1.05);
      }
    }
  }
  &__img {
    display: block;
    position: relative;
    padding-bottom: 90%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $trs;
    }
  }

  &__title {
    margin: 10px 0;
    a {
      font-size: 20px;
      line-height: 1.3;
      color: #000;
      font-family: 'Argos';
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transition: $trs;

      @include media(tablet, max) {
        font-size: 16px;
      }
    }
  }

  &__tag {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 1.3;
    color: $text-black-color;

    svg {
      width: 12px;
      height: 14px;
      margin-right: 5px;
    }

    span {
      margin-right: 4px;
    }
  }
}
