.not-found {
  padding-bottom: 100px;
  text-align: center;

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    line-height: 1.3;
    font-weight: bold;
    color: $accent-color;
    margin-bottom: 20px;
    font-family: 'Argos';
  }

  &__item {
    transition: $trs;
    &:nth-child(1) {
      animation: scale 2s infinite;
    }
    &:nth-child(2) {
      animation: scale 2s 0.2s infinite;
    }
    &:nth-child(3) {
      animation: scale 2s 0.4s infinite;
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1) translateZ(0);
    color: $accent-color;
  }
  50% {
    transform: scale(1.1) translateZ(0);
  }
  100% {
    transform: scale(1) translateZ(0);
  }
}
