.accordion-list {
  &__item {
    padding: 40px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #dbd6d6;
    }

    @include media(phablet, max) {
      padding: 20px 0;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    font-family: 'Argos';
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 0;

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    span {
      width: 80%;
    }

    svg {
      width: 22px;
      height: 14px;
      margin-top: 15px;
      transition: $trs;
      path {
        fill: #000;
      }
    }

    @include media(tablet, max) {
      font-size: 24px;
    }
    @include media(phablet, max) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    display: none;
    margin-top: 30px;

    @include media(phablet, max) {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}
