.advantages {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(4n + 1) {
      border-right: 1px solid #dbd6d6;
      .advantages__number {
        color: #8d5d84;
      }

      @include media(tablet-wide, max) {
        border: none;
      }
    }
    &:nth-child(4n + 2) {
      border-right: 1px solid #dbd6d6;
      .advantages__number {
        color: #589285;
      }

      @include media(tablet-wide, max) {
        border: none;
      }
    }
    &:nth-child(4n + 3) {
      border-right: 1px solid #dbd6d6;
      .advantages__number {
        color: #c18e46;
      }

      @include media(tablet-wide, max) {
        border: none;
      }
    }
    &:nth-child(4n + 4) {
      .advantages__number {
        color: #387e96;
      }
    }

    &:nth-child(2n + 1) {
      border-right: 1px solid #dbd6d6;
    }

    @include media(tablet-wide, max) {
      width: 50%;
    }

    @include media(phablet, max) {
      padding: 10px;
    }
  }

  &__number {
    display: block;
    font-size: 54px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

    @include media(phablet, max) {
      margin-bottom: 10px;
      font-size: 36px;
    }
  }

  &__text {
    display: block;
    font-size: 23px;
    line-height: 1.3;
    color: #000;
    font-weight: bold;
    text-align: center;
    width: 75%;
    margin: 0 auto;

    @include media(phablet, max) {
      width: 100%;
      font-size: 18px;
    }
  }

  &__descr {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    text-align: center;
    margin-top: 50px;
    padding: 0 10px;

    @include media(phablet, max) {
      font-size: 14px;
      margin-top: 15px;
      padding: 0;
    }
  }
}
