.blog-articles {
  &--slider {
    &:not(.slick-initialized) {
      height: 550px;
      opacity: 0;
    }
  }

  &--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @include media(tablet-wide, max) {
      grid-template-columns: 1fr 1fr;
    }

    @include media(tablet, max) {
    }

    @include media(phablet, max) {
      grid-template-columns: 1fr;
    }
  }

  .slick-list {
    margin: 0 -15px;
    .slick-slide {
      padding: 0 15px;
    }
  }

  &__item {
    &:not(:last-child) {
      @include media(phablet, max) {
        padding-bottom: 15px;
        border-bottom: 1px solid #dbd6d6;
      }
    }

    &:hover {
      .blog-articles__img img {
        transform: scale(1.05);
      }
    }

    &:nth-child(3n + 1) {
      .blog-articles__title {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='22' viewBox='0 0 32 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.18959 12.1054L28.1338 12.1054L19.881 20.1516C19.4349 20.5865 19.4349 21.2389 19.881 21.6738C20.3271 22.1087 20.9963 22.1087 21.4424 21.6738L31.5539 11.9605C31.777 11.743 32 11.3806 32 11.0181C32 10.9456 32 10.8007 31.9256 10.7282C31.9256 10.6557 31.8513 10.5832 31.8513 10.5832C31.8513 10.5107 31.777 10.5107 31.777 10.4382C31.777 10.3657 31.7026 10.3657 31.7026 10.2932L21.4424 0.289947C21.2193 0.072484 20.9219 -2.84622e-06 20.6245 -2.82022e-06C20.3271 -2.79422e-06 20.0297 0.0724841 19.8067 0.289947C19.3606 0.724872 19.3606 1.37726 19.8067 1.81219L28.2082 9.9308L1.11524 9.93081C0.520446 9.93081 2.80393e-06 10.4382 2.85463e-06 11.0181C2.90533e-06 11.598 0.520444 12.1054 1.18959 12.1054Z' fill='%238D5D84'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &:nth-child(3n + 2) {
      .blog-articles__title {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='22' viewBox='0 0 32 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.18959 12.1054L28.1338 12.1054L19.881 20.1516C19.4349 20.5865 19.4349 21.2389 19.881 21.6738C20.3271 22.1087 20.9963 22.1087 21.4424 21.6738L31.5539 11.9605C31.777 11.743 32 11.3806 32 11.0181C32 10.9456 32 10.8007 31.9256 10.7282C31.9256 10.6557 31.8513 10.5832 31.8513 10.5832C31.8513 10.5107 31.777 10.5107 31.777 10.4382C31.777 10.3657 31.7026 10.3657 31.7026 10.2932L21.4424 0.289947C21.2193 0.072484 20.9219 -2.84622e-06 20.6245 -2.82022e-06C20.3271 -2.79422e-06 20.0297 0.0724841 19.8067 0.289947C19.3606 0.724872 19.3606 1.37726 19.8067 1.81219L28.2082 9.9308L1.11524 9.93081C0.520446 9.93081 2.80393e-06 10.4382 2.85463e-06 11.0181C2.90533e-06 11.598 0.520444 12.1054 1.18959 12.1054Z' fill='%23387E96'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &:nth-child(3n + 3) {
      .blog-articles__title {
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='32' height='22' viewBox='0 0 32 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.18959 12.1054L28.1338 12.1054L19.881 20.1516C19.4349 20.5865 19.4349 21.2389 19.881 21.6738C20.3271 22.1087 20.9963 22.1087 21.4424 21.6738L31.5539 11.9605C31.777 11.743 32 11.3806 32 11.0181C32 10.9456 32 10.8007 31.9256 10.7282C31.9256 10.6557 31.8513 10.5832 31.8513 10.5832C31.8513 10.5107 31.777 10.5107 31.777 10.4382C31.777 10.3657 31.7026 10.3657 31.7026 10.2932L21.4424 0.289947C21.2193 0.072484 20.9219 -2.84622e-06 20.6245 -2.82022e-06C20.3271 -2.79422e-06 20.0297 0.0724841 19.8067 0.289947C19.3606 0.724872 19.3606 1.37726 19.8067 1.81219L28.2082 9.9308L1.11524 9.93081C0.520446 9.93081 2.80393e-06 10.4382 2.85463e-06 11.0181C2.90533e-06 11.598 0.520444 12.1054 1.18959 12.1054Z' fill='%23C18E46'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &__img {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $trs;
    }
  }

  &__content {
    padding: 15px 30px;
    width: 88%;
    margin-left: auto;
    margin-top: -80px;
    background-color: #fff;
    position: relative;
    z-index: 3;

    @include media(tablet, max) {
      padding: 15px;
    }
  }

  &__date {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    color: $text-black-color;
  }

  &__title {
    position: relative;
    font-size: 22px;
    font-family: 'Argos';
    line-height: 1.3;
    color: #000;
    padding-right: 100px;

    @include media(tablet-wide, max) {
      padding-right: 50px;
    }
    @include media(tablet, max) {
      font-size: 18px;
    }

    &:after {
      position: absolute;
      top: 10px;
      right: 0;
      width: 32px;
      height: 22px;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 1.2;
    color: $text-gray-color;
    margin-bottom: 30px;

    &--short {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__link {
    font-size: 13px;
    line-height: 1.2;
    color: $text-gray-color;
    text-decoration: underline;
    &:hover {
      color: $accent-color;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__author-img {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author-name {
    font-size: 13px;
    line-height: 1.2;
    color: $text-gray-color;
  }
}
