.connect {
  max-width: 215px;
  margin: 0 auto;
  @include media(phablet, max) {
    max-width: 100%;
  }
  &__item {
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;

    @include media(phablet, max) {
      font-size: 14px;
    }
    &:last-child {
      margin-top: 30px;
      a {
        color: #fff;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
