.donation-form {
  position: relative;
  padding: 100px 0;

  @include media(tablet, max) {
    padding: 50px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 100%;
    background-color: $bg-color;
    @include media(tablet-wide, max) {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }

  &__info {
    width: 50%;
    padding-right: 75px;
    @include media(tablet-wide, max) {
      width: 100%;
      padding-right: 0;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
  }

  &__info-content {
    // padding-left: 30px;
    @include media(tablet-wide, max) {
      padding-left: 30px;
      width: 50%;
    }
    @include media(tablet, max) {
      padding-left: 15px;
      width: 60%;
    }
    @include media(phablet, max) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__description {
    width: 50%;
    padding-left: 30px;
    @include media(tablet-wide, max) {
      width: 100%;
      padding-left: 0;
    }

    p {
      font-size: 20px;
      line-height: 1.3;
      color: $text-gray-color;
      margin-bottom: 20px;

      @include media(phablet, max) {
        font-size: 14px;
      }
    }
  }

  &__img {
    img {
      display: block;
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }

    @include media(tablet-wide, max) {
      width: 50%;
    }

    @include media(tablet, max) {
      width: 40%;
    }
    @include media(phablet, max) {
      width: 100%;
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    font-weight: bold;
    display: block;
    margin-bottom: 70px;

    @include media(tablet, max) {
      margin-bottom: 30px;
    }
    @include media(phablet, max) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__info-content {
    padding-top: 30px;

    @include media(phablet, max) {
      padding-top: 15px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;

    &--block {
      display: block;
      margin-bottom: 20px;

      @include media(phablet, max) {
        margin-bottom: 10px;
      }

      svg {
        margin-right: 15px;

        @include media(phablet, max) {
          width: 15px;
          height: 15px;
        }
      }
    }

    @include media(phablet, max) {
      font-size: 14px;
    }
  }

  &__position {
    display: block;
    color: $accent-color;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin: 20px 0;
    @include media(tablet-wide, max) {
      margin: 10px 0;
      font-size: 18px;
    }
    @include media(phablet, max) {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;
    color: #000;
    font-family: 'Argos';
    font-weight: bold;
    margin-bottom: 10px;

    span {
      color: #c18e46;
    }

    @include media(tablet-wide, max) {
      font-size: 40px;
    }
    @include media(tablet, max) {
      font-size: 30px;
    }
    @include media(phablet, max) {
      font-size: 22px;
    }
  }
}

form[id*='give-form'] .form-row input[type='text'].required,
form[id*='give-form'] .form-row input[type='email'].required,
form.give-form .form-row select,
form[id*='give-form'] .form-row input[type='tel'].required {
  padding: 0 10px;
  height: 48px;
  border: 1px solid #dbd6d6;
  color: $text-black-color;
  transition: $trs;
  font-size: 16px;
  background-color: #fff;

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

form.give-form .form-row label,
form[id*='give-form'] .form-row label {
  font-size: 22px;
  line-height: 1.3;
  color: #000;
  font-weight: bold;
  font-family: 'Guanabara';
  margin-bottom: 20px;
}

#give_checkout_user_info {
  display: none;
}

.give-title {
  display: block;
  font-size: 30px;
  line-height: 1.3;
  color: #000;
  font-family: 'Argos';
  margin-bottom: 30px;
}

#give-donation-level-button-wrap > li {
  margin: 0 10px 10px 0;
}

.give-btn {
  padding: 10px;
  min-width: 110px;
  font-size: 18px;
  line-height: 1.3;
  background-color: #fff;
  transition: $trs;
  color: rgba(#000, 0.5);
  border: 1px solid #dbd6d6;

  &:hover,
  &.give-default-level {
    background: rgba(141, 93, 132, 0.05);
    border: 1px solid $accent-color;
  }
}
