.download-list {
  &__item {
    &:not(:last-child) {
      padding-bottom: 70px;
      border-bottom: 1px solid #dbd6d6;

      @include media(tablet-wide, max) {
        padding-bottom: 35px;
      }

      @include media(phablet, max) {
        padding-bottom: 20px;
      }
    }
    &:not(:first-child) {
      padding-top: 45px;

      @include media(phablet, max) {
        padding-top: 20px;
      }
    }
  }

  &__title {
    display: block;
    font-size: 32px;
    line-height: 1.3;
    font-family: 'Argos';
    margin-bottom: 20px;

    @include media(tablet-wide, max) {
      font-size: 26px;
    }

    @include media(phablet, max) {
      font-size: 20px;
    }
  }
}
