.filter {
  position: relative;
  margin-bottom: 40px;

  &__title {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 20px;
    line-height: 1.2;
    color: $text-black-color;
    font-weight: bold;
    border-bottom: 1px solid #dbd6d6;

    &--no-border {
      border: none;
    }

    svg {
      margin-right: 15px;
    }
  }

  &__content {
    position: relative;
    padding: 25px 0 0 0;
    height: auto;
    max-height: 170px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: $trs;
    &.active {
      height: auto;
    }
  }

  &__wrapper {
    padding: 20px 0;
    .btn {
      width: 100%;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 8px 15px;
    color: $text-black-color;
    border: 1px solid #dbd6d6;
    transition: $trs;
    font-family: 'Guanabara';
    height: auto;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::placeholder {
      color: rgba($text-black-color, 0.5);
      transition: $trs;
    }

    &:focus {
      outline: none;
      border: 1px solid $accent-color;
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__more {
    font-size: 16px;
    line-height: 1.2;
    color: #979797;
    transition: $trs;

    span {
      margin-right: 10px;
    }

    svg {
      transition: $trs;
      path {
        transition: $trs;
      }
    }

    &:hover {
      color: $accent-color;
      svg {
        path {
          fill: $accent-color;
        }
      }
    }
    &.active {
      color: $accent-color;
      svg {
        transform: rotate(180deg);
        path {
          fill: $accent-color;
        }
      }
    }
  }
}
