.footer {
  position: relative;
  padding: 180px 0 70px 0;
  color: $white-color;
  background-color: $accent-dark-color;
  @include media(phablet, max) {
    padding: 100px 0 30px 0;
  }

  &__donate {
    position: absolute;
    left: 50%;
    top: -10%;
    width: 950px;
    transform: translateX(-50%);
    padding: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $accent-color;
    @include media(tablet-wide, max) {
      width: 90%;
    }
    @include media(tablet, max) {
      padding: 30px;
      top: -5%;
    }
    @include media(phablet, max) {
      flex-direction: column;
      padding: 15px;
      top: -55px;
    }
  }

  &__donate-text {
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    font-family: 'Argos';
    margin-right: 15px;
    @include media(phablet, max) {
      font-size: 22px;
      margin-bottom: 15px;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    padding: 0 0 95px 0;
    @include media(tablet, max) {
      flex-wrap: wrap;
      padding: 0 0 40px 0;
    }
    @include media(phablet, max) {
      padding: 0;
    }
    section {
      padding: 30px 0;
      @include media(phablet, max) {
        padding: 15px 0;
      }
      &:nth-child(1) {
        width: 25%;

        @include media(tablet, max) {
          width: 50%;
        }
        @include media(phablet, max) {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 35%;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        h3 {
          max-width: 215px;
          margin: 0 auto 30px auto;
          @include media(phablet, max) {
            max-width: 100%;
          }
        }

        @include media(tablet, max) {
          width: 50%;
          border-right: none;
        }
        @include media(phablet, max) {
          width: 100%;
          border-left: none;
        }
      }
      &:nth-child(3) {
        width: 40%;
        @include media(tablet, max) {
          width: 100%;
        }
        @include media(phablet, max) {
          width: 100%;
        }

        .sml_subscribe {
          width: 80%;
          margin-left: auto;
          @include media(tablet, max) {
            width: 100%;
          }
        }
      }
    }
    h3 {
      font-size: 22px;
      line-height: 1;
      font-family: 'Argos';
      margin-bottom: 30px;
      @include media(phablet, max) {
        margin-bottom: 15px;
      }
    }
  }

  &__bottom-text {
    font-size: 18px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @include media(phablet, max) {
      font-size: 14px;
      padding-bottom: 15px;
    }
  }

  &__bottom-copy {
    padding-top: 30px;
    font-size: 14px;
  }
}

.sml_subscribe {
  display: flex;
  flex-direction: column;
  .prepend {
    font-size: 22px;
    line-height: 1;
    font-family: 'Argos';
    margin-bottom: 30px;
    text-transform: none;
    @include media(phablet, max) {
      margin-bottom: 15px;
    }
  }
  label {
    display: block;
    width: 100%;
  }
  .sml_name,
  .sml_email {
    height: 66px;
  }
  input {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(252, 252, 252, 0.3);
    transition: $trs;
    margin-bottom: 10px;
    font-family: 'Guanabara';
    &::placeholder {
      color: #fff;
      transition: $trs;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
      border: none;
      outline: none;
      border-bottom: 1px solid $accent-color;
    }
  }
  input[type='submit'] {
    padding: 15px 20px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border: none;
    outline: none;
    transition: $trs;
    margin-top: 35px;
    &:focus {
      border: none;
      outline: none;
    }
    &:hover {
      color: #fff;
      background-color: $accent-color;
    }
  }
}
