.s-input {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    .s-input__icon:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__icon {
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid #dbd6d6;
    transition: $trs;
    margin-right: 13px;
    &:after {
      position: absolute;
      content: '';
      top: 5px;
      left: 3px;
      height: 7px;
      width: 14px;
      border-left: 2px solid #589285;
      border-bottom: 2px solid #589285;
      transform: rotate(-45deg);
      opacity: 0;
      visibility: hidden;
      transition: $trs;
    }

    &--radio {
      border-radius: 50%;
      &:after {
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        top: 50%;
        left: 50%;
        border: none;
        border-radius: 50%;
        background-color: $accent-color;
        transform: rotate(0) translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: $trs;
      }
    }
  }

  &__text {
    @include media(phablet, max) {
      font-size: 14px;
    }
  }
}

.s-input input:checked ~ .s-input__icon:after {
  opacity: 1;
  visibility: visible;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

input,
textarea {
  padding: 0 10px;
  height: 48px;
  border: 1px solid #dbd6d6;
  color: $text-black-color;
  transition: $trs;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }

  @include media(phablet, max) {
    height: 30px;
  }
}

textarea {
  height: auto;
}

.aplication-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    width: 100%;
    margin-bottom: 45px;
    &--50 {
      width: 48%;
    }

    @include media(tablet, max) {
      margin-bottom: 30px;
    }
    @include media(phablet, max) {
      margin-bottom: 15px;
    }
  }

  &__label {
    display: block;
    font-size: 22px;
    line-height: 1.2;
    color: #000;
    font-weight: bold;
    font-family: 'Guanabara';

    &.require {
      &::after {
        content: '*';
      }
    }

    @include media(tablet, max) {
      font-size: 18px;
    }
    @include media(phablet, max) {
      font-size: 14px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    &.error {
      border: 1px solid red;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 300px;
    resize: none;
    padding: 10px;

    &.error {
      border: 1px solid red;
    }

    @include media(phablet, max) {
      height: 150px;
    }
  }

  &__button {
    width: 100%;
    text-align: right;
  }

  &__item-wrap {
    display: flex;
    margin-top: 20px;
    .s-input {
      font-weight: bold;
      width: 250px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.58);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: $trs;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__spin {
    display: inline-block;
    width: 80px;
    height: 80px;
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-size: 14px;
  @include media(phablet, max) {
    font-size: 12px;
  }
}
