.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: all 0.75s ease;
  z-index: 100;
  border-bottom: 1px solid #dbdbdb;
  &--up {
    transform: none;
    box-shadow: 0 10px 10px rgba($accent-color, 0.5);
  }
  &--down {
    transform: translate3d(0, -100%, 0);
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    background-color: $bg-color;
    @include media(tablet, max) {
      padding: 10px 15px;
    }
    @include media(phablet, max) {
      padding: 5px 15px;
      align-items: flex-start;
    }
  }

  &__top-text,
  &__top-link {
    font-size: 13px;
    line-height: 16px;
    color: $text-gray-color;
    margin-right: 2px;
    @include media(phablet, max) {
      font-size: 10px;
      line-height: 12px;
    }
  }
  &__top-link {
    text-decoration: underline;
    margin-right: 0;
    flex-shrink: 0;
  }

  &__content {
    max-width: 1170px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 15px;
    margin: 0 auto;

    @include media(tablet, max) {
      padding: 15px;
      .btn {
        margin-left: auto;
      }
    }
    @include media(phablet, max) {
      padding: 5px 15px;
    }

    .nav-primary {
      margin-left: auto;
      @include media(tablet, max) {
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        background-color: $accent-color;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: $trs;
        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }
  }
}

.hamburger {
  position: relative;
  display: none;
  align-items: center;
  order: 4;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  margin-left: 15px;
  @include media(tablet, max) {
    display: flex;
  }
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $accent-color;
  transition: $trs;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}

.hamburger > span::after {
  content: '';
  top: 8px;
}

.hamburger.active > span {
  transform: rotate(45deg);
  background-color: $accent-color;
}

.hamburger.active > span::before {
  top: 0;
  transform: rotate(0);
  background-color: $accent-color;
}

.hamburger.active > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: $accent-color;
}
