.main-menu {
  display: flex;
  align-items: center;
  margin-right: 25px;
  @include media(tablet, max) {
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }
  li {
    &:not(:last-child) {
      margin-right: 64px;
      @include media(tablet-wide, max) {
        margin-right: 35px;
      }
      @include media(tablet, max) {
        margin-right: 0;
      }
    }
    &:hover {
      .menu-dropdown {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }
    a {
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: $text-gray-color;
      padding: 10px 0;
      &:hover {
        color: $accent-color;
        // box-shadow: 0 2px $accent-color;
      }
      @include media(tablet, max) {
        color: $white-color;
        &:hover {
          color: $white-color;
          box-shadow: 0 2px $white-color;
        }
      }
    }
    .menu-dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: $trs;
      box-shadow: 0px 3px 25px rgba(164, 164, 164, 0.27);
      transform: translateY(30px);
      @include media(tablet, max) {
        display: none;
      }
      a:not(.dropdown-list__link) {
        display: none;
      }
      .dropdown-list {
        li {
          margin: 0 !important;
        }
      }
    }

    &.active-menu-item {
      a {
        position: relative;
        &:before {
          position: absolute;
          top: 50%;
          right: -20px;
          content: '';
          width: 7px;
          height: 7px;
          border-top: 2px solid $text-gray-color;
          border-left: 2px solid $text-gray-color;
          transform: translateY(-50%) rotate(-135deg);
          transition: $trs;

          @include media(tablet-wide, max) {
            right: -15px;
          }
        }
        &:after {
          position: absolute;
          top: 161%;
          left: 50%;
          transform: translateX(-50%);
          content: '';
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 15px solid $white-color;
          opacity: 0;
          visibility: hidden;
          transition: $trs;
          z-index: 3;
        }
      }

      &:hover {
        a {
          &:before {
            transform: translateY(-40%) rotate(45deg);
          }
        }
      }

      .menu-dropdown {
        a {
          &:after,
          &:before {
            display: none;
          }
        }
      }

      &:hover {
        a {
          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &.active-menu-item-first {
      .menu-dropdown {
        .dropdown-list {
          a:first-child {
            display: block;
          }
        }
        .dropdown-list__item {
          &:nth-child(2) {
            a:first-child {
              display: none;
            }
          }
          &:nth-child(3) {
            a:first-child {
              display: none;
            }
          }
        }
      }
    }
    &.active-menu-item-about {
      .menu-dropdown {
        &:nth-child(2) {
          display: none;
        }
        .dropdown-list__item {
          &:nth-child(2) {
            a:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

.dropdown-list {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: flex;
  // gap: 0 30px;
  padding: 60px 0 30px 0;
  margin-left: -15px;
  @include media(tablet-wide, max) {
    padding: 30px 0;
  }

  &__item {
    flex: 1 1 0;
    padding: 0 15px;
    &:hover {
      .dropdown-list__title {
        color: $accent-color;
        svg {
          path {
            fill: $accent-color;
          }
        }
      }
    }
  }

  &__img {
    max-width: 360px;

    @include media(tablet-wide, max) {
      max-width: 250px;
    }
  }

  &__title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: block;
    line-height: 1.3;
    font-family: 'Argos';
    color: #000;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dbd6d6;
    transition: $trs;

    @include media(tablet-wide, max) {
      font-size: 16px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    svg {
      position: absolute;
      top: 10px;
      right: 0;
      transform: rotate(-90deg);
      path {
        fill: #000;
        transition: $trs;
      }
    }
  }

  &__descr {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    margin-bottom: 25px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include media(tablet-wide, max) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__subimg {
    width: 100%;
    height: 210px;
    object-fit: cover;

    @include media(tablet-wide, max) {
      height: 150px;
    }
  }
}
