.info {
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 20px 10px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(3n + 2) {
      border-left: 1px solid #dbd6d6;
      border-right: 1px solid #dbd6d6;

      @include media(phablet, max) {
        border: none;
      }
    }

    @include media(phablet, max) {
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid #dbd6d6;
      }
    }
  }

  &__item-icon {
    svg {
      @include media(tablet-wide, max) {
        width: 50px;
      }
    }
  }

  &__item-title {
    display: block;
    font-size: 50px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    font-weight: bold;
    margin: 40px 0 20px 0;
    text-align: center;

    @include media(tablet-wide, max) {
      font-size: 46px;
      margin: 20px 0;
    }
    @include media(phablet, max) {
      font-size: 32px;
    }
  }

  &__item-text {
    display: block;
    font-size: 22px;
    line-height: 1.2;
    color: $text-black-color;
    text-align: center;
  }
}
