.pagination {
  padding: 50px 0;
  display: flex;
  align-items: center;

  @include media(tablet, max) {
    padding: 20px;
  }

  .page-numbers {
    &:not(:last-child) {
      margin-right: 15px;

      @include media(phablet, max) {
        margin-right: 5px;
      }
    }
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $text-black-color;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    transition: $trs;

    @include media(phablet, max) {
      font-size: 14px;
      height: 20px;
      width: 20px;
    }

    &.next,
    &.prev {
      width: auto;
      height: auto;
      &:hover {
        background-color: transparent;
        color: $accent-color;
      }
    }

    &:hover,
    &.current {
      color: #fff;
      background-color: $accent-color;
    }
  }
}
