.privacy-menu {
  li {
    margin-bottom: 5px;
    a {
      color: #fff;
      font-size: 20px;
      @include media(phablet, max) {
        font-size: 14px;
      }
      &:hover {
        color: $accent-color;
      }
    }
  }
}
