.section-resources {
  position: relative;
  padding: 100px 0 300px 0;

  @include media(tablet, max) {
    padding: 50px 0 150px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 75px 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }
  &__sidebar {
    padding: 25px;
    width: 260px;
    margin-right: 30px;
    border: 1px solid #dbd6d6;

    @include media(tablet, max) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      margin-right: 0;
      background-color: #fff;
      box-shadow: 5px 5px 10px #dbd6d6;
      transform: translateX(-100%);
      transition: $trs;
      opacity: 0;
      visibility: hidden;
      &.active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__content {
    width: calc(100% - 290px);

    @include media(tablet, max) {
      width: 100%;
    }
  }

  &__clear {
    margin-bottom: 15px;
  }

  &__filter-button {
    display: none;
    text-align: right;
    margin-bottom: 15px;
    @include media(tablet, max) {
      display: block;
    }
  }

  &__empty-title {
    font-size: 32px;
    line-height: 1.3;
    font-weight: bold;
    color: $accent-color;
    margin-bottom: 10px;

    @include media(phablet, max) {
      font-size: 24px;
    }
  }
  &__empty-subtitle {
    font-size: 24px;
    line-height: 1.3;
    font-weight: bold;
    color: $accent-color;
    margin-bottom: 15px;

    @include media(phablet, max) {
      font-size: 18px;
    }
  }

  &__empty-subtext {
    list-style-type: disc;
    font-size: 16px;
    line-height: 1.3;
    color: $text-gray-color;
    padding-left: 20px;
  }
}

.resources-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  @include media(tablet-wide, max) {
    grid-template-columns: 1fr 1fr;
  }

  @include media(phablet, max) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  &__item {
    padding: 25px 22px;
    border: 1px solid #dbd6d6;
    transition: $trs;
    &:hover {
      box-shadow: 5px 5px 10px #dbd6d6;
    }
  }

  &__title {
    font-family: 'Argos';
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    margin-bottom: 30px;
    a {
      font-family: 'Argos';
      font-size: 20px;
      line-height: 1.3;
      color: #000;
      transition: $trs;
    }
    &:hover {
      a {
        color: $accent-color;
      }
    }
  }

  &__text {
    font-size: 13px;
    color: $text-black-color;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    a {
      margin-right: 3px;
      color: $text-black-color;
      &:not(:last-child) {
        &::after {
          content: '|';
          margin-left: 3px;
        }
      }
      &:hover {
        color: $accent-color;
      }
    }
  }

  &__icon {
    margin-right: 6px;
    svg {
      width: 12px;
      fill: $text-black-color;
    }
  }
}
