.section-question,
.section-single-map {
  padding: 110px 0 300px 0;
  @include media(tablet, max) {
    padding: 50px 0 150px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 75px 0;
  }
}
.section-single-map {
  .section-map__iframe {
    margin-top: 0;
  }
}

.section-info {
  padding: 100px 0 50px 0;
  @include media(tablet, max) {
    padding: 50px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0;
  }
}

.section-timeline {
  padding: 100px 0 200px 0;

  &__title {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    text-align: center;

    @include media(phablet, max) {
      font-size: 24px;
    }
  }

  @include media(tablet, max) {
    padding: 50px 0 100px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 75px 0;
  }
}

.section-location {
  padding: 100px 0;
  background-color: $bg-color;

  @include media(tablet, max) {
    padding: 50px 0 100px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 75px 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    @include media(tablet, max) {
      flex-direction: column;
    }

    .btn {
      width: 300px;
      &:not(:last-child) {
        margin-right: 30px;

        @include media(tablet, max) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
  }

  .section-title {
    text-align: center;
  }
}

.section-advantages {
  padding: 100px 0;

  &--yellow {
    background-color: $bg-color;
  }

  @include media(tablet, max) {
    padding: 50px 0 100px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 75px 0;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;

    @include media(tablet-wide, max) {
      margin-bottom: 50px;
    }
    @include media(tablet, max) {
      flex-direction: column;
    }
    @include media(phablet, max) {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';

    &--center {
      width: 75%;
      text-align: center;
      margin: 0 auto 100px auto;

      @include media(tablet-wide, max) {
        width: 100%;
        margin: 0 auto 50px auto;
      }
      @include media(phablet, max) {
        margin: 0 auto 20px auto;
      }
    }

    @include media(phablet, max) {
      font-size: 20px;
    }
  }

  &__descr {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    width: 50%;
    padding-left: 15px;
    @include media(tablet, max) {
      width: 100%;
      padding-left: 0;
    }

    @include media(phablet, max) {
      font-size: 16px;
    }
  }
}

.section-form {
  position: relative;
  padding: 100px 0 0 0;
  margin-bottom: 200px;
  @include media(tablet, max) {
    padding: 50px 0 0 0;
    margin-bottom: 200px;
  }
  @include media(phablet, max) {
    padding: 25px 0 0 0;
  }

  .section-title {
    margin-bottom: 80px;
    @include media(tablet, max) {
      margin-bottom: 40px;
    }
    @include media(phablet, max) {
      margin-bottom: 20px;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 31vw;
    height: 50%;
    object-fit: cover;

    @include media(tablet-wide, max) {
      display: none;
    }

    &--two {
      top: 50%;
    }
  }

  &__content {
    width: calc(100% - 25vw);
    margin-left: auto;

    @include media(desktop-wide, max) {
      width: calc(100% - 32vw);
    }

    @include media(tablet-wide, max) {
      width: 100%;
    }
  }
}

.section-blog {
  padding: 100px 0 150px 0;

  @include media(tablet, max) {
    padding: 50px 0 100px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 100px 0;
  }
}

.section-blog-slider {
  padding: 100px 0;

  @include media(tablet, max) {
    padding: 50px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    @include media(tablet, max) {
      margin-bottom: 30px;
    }
    @include media(phablet, max) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    @include media(tablet, max) {
      font-size: 24px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $accent-color;
    transition: $trs;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(90deg);
      path {
        fill: #fff;
      }
    }

    &--next {
      margin-left: 15px;
      svg {
        transform: rotate(-90deg);
      }
    }

    &:hover,
    &:focus {
      background-color: $accent-dark-blue;
    }
  }
}

.section-teams {
  padding: 100px 0;

  &--yellow {
    background-color: $bg-color;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    @include media(tablet-wide, max) {
      margin-bottom: 40px;
    }

    @include media(tablet, max) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include media(phablet, max) {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    padding-right: 15px;

    @include media(phablet, max) {
      font-size: 24px;
    }
  }

  &__descr {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    width: 50%;
    @include media(tablet, max) {
      width: 100%;
    }
    @include media(phablet, max) {
      font-size: 16px;
    }
  }
}

.section-shop {
  padding: 100px 0 300px 0;

  @include media(tablet, max) {
    padding: 50px 0 200px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 200px 0;
  }

  .section-title {
    text-align: center;
  }
}

.section-download {
  padding: 130px 0 300px 0;

  @include media(tablet, max) {
    padding: 50px 0 200px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 200px 0;
  }

  &__wrapper {
    display: flex;

    @include media(tablet, max) {
      flex-direction: column;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 50%;
    padding-right: 50px;

    @include media(tablet, max) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.section-strategy {
  padding: 130px 0 150px 0;

  @include media(tablet, max) {
    padding: 50px 0 1000px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0 100px 0;
  }
}

.section-introduction {
  padding: 100px 0;

  @include media(tablet, max) {
    padding: 50px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0;
  }

  &__title {
    font-size: 32px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    margin: 0 auto 50px auto;
    width: 75%;
    text-align: center;

    @include media(tablet, max) {
      font-size: 26px;
      width: 100%;
      margin: 0 0 20px 0;
    }
    @include media(phablet, max) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    width: 75%;
    text-align: center;
    margin: 0 auto;

    span {
      &:nth-child(4n + 1) {
        color: #8d5d84;
      }
      &:nth-child(4n + 2) {
        color: #c18e46;
      }
      &:nth-child(4n + 3) {
        color: #589285;
      }
      &:nth-child(4n + 4) {
        color: #387e96;
      }
    }

    @include media(tablet, max) {
      width: 100%;
    }

    @include media(phablet, max) {
      font-size: 14px;
    }
  }
}
