.section {
  position: relative;
}
.section-map {
  padding: 120px 0 80px 0;
  background-color: $bg-color;

  @include media(tablet, max) {
    padding: 40px 0;
  }

  &__iframe {
    width: 100%;
    height: 580px;
    margin-top: 85px;
    @include media(tablet, max) {
      height: 300px;
      margin-top: 40px;
    }
  }

  &__content {
    width: 80%;
    padding: 85px 10px 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    background-color: $bg-color;
    transform: translateY(-50%);
    .section-title {
      width: 48%;
      @include media(phablet, max) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .section-map__descr {
      width: 50%;
      font-family: 'Guanabara';
      font-size: 20px;
      @include media(phablet, max) {
        width: 100%;
        font-size: 14px;
      }
    }

    @include media(tablet, max) {
      width: 100%;
      transform: translateY(0);
      padding: 20px 0;
    }

    @include media(phablet, max) {
      flex-direction: column;
    }
  }
}

.section-title {
  font-size: 54px;
  line-height: 1;
  font-family: 'Argos';
  font-weight: bold;
  span {
    color: $black-color;
  }

  &--map-content {
    color: $accent-dark-blue;
    span {
      color: #000;
    }
  }

  &--donate {
    margin-bottom: 30px;
    span {
      &:first-child {
        color: #c18e46;
      }
      &:last-child {
        color: #589285;
      }
    }
  }

  &--instagram {
    color: #c18e46;
    text-align: center;
    margin-bottom: 100px;
    span {
      color: #000;
    }

    @include media(tablet-wide, max) {
      margin-bottom: 60px;
    }
    @include media(phablet, max) {
      margin-bottom: 30px;
    }
  }

  &--blue {
    span {
      color: #589285;
    }
  }

  &--gold {
    span {
      color: #c18e46;
    }
  }
  &--purple {
    span {
      color: $accent-color;
    }
  }
  &--map {
    text-align: center;
    margin-bottom: 30px;
    span {
      color: #589285;
    }
  }

  @include media(tablet-wide, max) {
    font-size: 46px;
  }
  @include media(phablet, max) {
    font-size: 32px;
  }
}

.section-subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: $text-gray-color;
  max-width: 690px;
  margin: 0 auto;
  font-family: 'Guanabara';
  @include media(phablet, max) {
    font-size: 16px;
  }
}
