.section-text-banner {
  padding: 100px 0;
  background-color: $bg-color;
  @include media(tablet-wide, max) {
    padding: 50px 0;
  }
  @include media(phablet, max) {
    padding: 25px 0;
  }

  &--purple {
    .section-text-banner__title span {
      color: $accent-color;
    }
  }

  &--gold {
    .section-text-banner__title {
      color: #c18e46;
      span {
        color: #000;
      }
    }
  }

  &--blue {
    .section-text-banner__title {
      color: #000;
      span {
        color: #589285;
      }
    }
  }

  &__title {
    font-size: 54px;
    line-height: 1.1;
    text-align: center;
    font-family: 'Argos';
    font-weight: bold;
    @include media(tablet-wide, max) {
      font-size: 46px;
    }
    @include media(phablet, max) {
      font-size: 32px;
    }
  }

  &__text {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    color: $text-gray-color;
    max-width: 560px;
    margin: 30px auto 0 auto;

    @include media(phablet, max) {
      font-size: 14px;
      margin: 10px auto 0 auto;
    }
  }
}
