.country-select {
  display: block;
  width: 100%;

  &.inside {
    .flag-dropdown {
      width: 100%;
    }
    .selected-flag {
      width: 100%;

      .arrow {
        border: none;
        width: 10px;
        height: 10px;
        border-top: 2px solid #767676;
        border-left: 2px solid #767676;
        transform: rotate(-135deg);
        right: 10px;
        margin-top: -5px;
        &.up {
          transform: rotate(45deg);
          margin-top: 0;
        }

        @include media(phablet, max) {
          width: 6px;
          height: 6px;
          border-width: 1px;
        }
      }
    }
  }

  .flag {
    display: none;
  }

  .country-list {
    width: 100%;
    .flag {
      display: none;
    }
  }
}

.country-select.inside input,
.country-select.inside input[type='text'] {
  padding: 0 10px;
}
