.shop-list{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 150px 30px;

  @include media(tablet-wide, max) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media(tablet, max) {
    grid-template-columns: 1fr 1fr;
    gap: 100px 30px;
    margin-top: 50px;
  }

  @include media(phone-wide, max) {
    grid-template-columns: 1fr;
    gap: 100px 30px;
    margin-top: 25px;
  }

  &__item{
    transition: $trs;

    &:hover{
      &:hover {
        box-shadow: 5px 5px 10px #dbd6d6;
      }
      .shop-list__title{
        color: $accent-color;
      }
    }
  }

  &__link{
    display: block;
    position: relative;
    padding-bottom: 130%;
  }

  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content{
    position: absolute;
    right: 0;
    top: 85%;
    width: 88%;
    background-color: #fff;
    padding: 20px 0 20px 15px;
    z-index: 2;
  }

  &__title{
    display: block;
    font-size: 22px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    transition: $trs;
    margin-bottom: 10px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include media(tablet-wide, max) {
      font-size: 18px;
    }
  }

  &__price{
    font-size: 16px;
    line-height: 1.3;
    color:$text-gray-color;
  }
}