.social {
  display: flex;
  align-items: center;
  margin: 40px 0;
  @include media(phablet, max) {
    margin: 15px 0;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    svg {
      path {
        fill: $accent-color;
        transition: $trs;
      }
    }
    &:hover {
      svg {
        path {
          fill: $accent-dark-blue;
        }
      }
    }
  }
}
