.timeline {
  padding: 20px 0;
  overflow: hidden;

  @include media(phablet, max) {
    padding: 0;
  }

  &__item {
    display: flex;

    &:nth-child(odd) {
      .timeline__element {
        &:last-child {
          &::after {
            position: absolute;
            content: '';
            top: 0;
            left: -23px;
            width: 84px;
            height: 48px;
            background-color: #fff;
            border: 1px solid #dbd6d6;
            transform: skew(60deg);
            @include media(tablet, max) {
              display: none;
            }
          }
          &::before {
            position: absolute;
            content: '';
            top: 1px;
            left: 0;
            width: 3px;
            height: 37px;
            background-color: #fff;
            z-index: 3;
            @include media(tablet, max) {
              display: none;
            }
          }
        }
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;

      .timeline__element {
        &:last-child {
          &::after {
            position: absolute;
            content: '';
            top: 0;
            right: -23px;
            width: 84px;
            height: 48px;
            background-color: #fff;
            border: 1px solid #dbd6d6;
            transform: skew(-60deg);
            @include media(tablet, max) {
              display: none;
            }
          }
          &::before {
            position: absolute;
            content: '';
            top: 1px;
            right: 0;
            width: 3px;
            height: 36px;
            background-color: #fff;
            z-index: 3;
            @include media(tablet, max) {
              display: none;
            }
          }
        }
      }

      @include media(tablet, max) {
        flex-direction: column;
      }
    }

    @include media(tablet, max) {
      flex-direction: column;
    }
  }

  &__element {
    position: relative;
    width: 40%;

    @include media(tablet, max) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__element-wrapper {
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__center {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 50px;
      width: 1px;
      height: calc(100% - 50px);
      transform: translateX(-50%);
      background-color: #979797;
    }

    @include media(tablet, max) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__center-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $accent-color;
    margin-bottom: 5px;
  }

  &__center-year {
    font-size: 22px;
    line-height: 1.2;
    color: $text-black-color;
  }
}

.timeline-item {
  position: relative;
  padding: 15px 30px;
  border: 1px solid #dbd6d6;
  background-color: #fff;

  @include media(phablet, max) {
    padding: 15px;
  }

  &__date {
    display: block;
    font-size: 13px;
    line-height: 1.2;
    color: $text-black-color;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-family: 'Argos';
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dbd6d6;

    @include media(tablet-wide, max) {
      font-size: 26px;
    }

    @include media(phablet, max) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    margin-bottom: 30px;

    @include media(tablet-wide, max) {
      font-size: 16px;
      margin-bottom: 15px;
    }

    @include media(phablet, max) {
      font-size: 14px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 20px;
    line-height: 1.3;
    color: $text-gray-color;
    text-decoration: underline;
    transition: $trs;

    svg {
      transform: rotate(-90deg);
      margin-left: 5px;
      transition: $trs;
      path {
        transition: $trs;
      }
    }

    @include media(tablet-wide, max) {
      font-size: 16px;
    }

    &:hover {
      color: $accent-color;
      svg {
        transform: rotate(-90deg) translateY(10px);
        path {
          fill: $accent-color;
        }
      }
    }
  }
}
