button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
}

.btn,
.button,
.give-submit {
  display: inline-flex;
  justify-content: center;
  padding: 13px 15px;
  font-family: 'Guanabara';
  font-size: 16px;
  text-align: center;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  transition: $trs;
  letter-spacing: 0.8px;
  border-radius: 4px;

  &:focus,
  &:active {
    outline: none;
    background-color: $accent-dark-blue;
  }

  &:hover {
    color: #fff;
    background-color: $accent-dark-blue;
  }

  &--large {
    width: 226px;
  }

  &--blue {
    background-color: $accent-dark-blue;
    &:hover {
      color: #fff;
      background-color: $accent-dark-blue;
    }
  }

  &--icon {
    svg {
      margin-right: 10px;
      path {
        fill: #fff;
      }
    }
  }

  &--secondary {
    color: $accent-color;
    background-color: transparent;
    border: 1px solid $accent-color;
  }

  @include media(phone-wide, max) {
    height: auto;
  }

  @include media(phone, max) {
    font-size: 14px;
    padding: 10px;
  }
}
