@font-face {
  font-family: 'Guanabara';
  src: url('../../resources/assets/fonts/Guanabara/GuanabaraSansBook/font.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Argos';
  src: url('../../resources/assets/fonts/Argos/ArgosBold/font.woff2')
    format('woff2');
}
