// body {
//   @apply font-sans;
// }

// .brand {
//   @apply text-3xl font-medium text-indigo-500;
// }
body {
  font-family: 'Guanabara';
  &.fixed {
    overflow: hidden;
  }
}

a {
  transition: $trs;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

.main {
  padding-top: 172px;
  @include media(tablet, max) {
    padding-top: 90px;
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-bordered {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1140px;
    height: 1px;
    background-color: #dbd6d6;
    @include media(desktop, max) {
      width: 90%;
    }
  }
}
