//Colors
$accent-color: #8d5d84;
$accent-dark-color: #1c364a;
$accent-dark-blue: #387e96;
$text-gray-color: #767676;
$text-black-color: #3e4148;
$bg-color: #faf7f2;
$white-color: #fff;
$black-color: #000;

//Options

$trs: all 0.3s ease;

//Media
$breakpoints: (
  phone: 400px,
  phone-wide: 480px,
  phablet: 576px,
  tablet-small: 640px,
  tablet: 768px,
  tablet-wide: 1024px,
  desktop: 1200px,
  desktop-wide: 1440px,
);
